body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://lh5.googleusercontent.com/proxy/MxacfM3hRbvS-P2FeKW7GmgoLqzwBBuLCndZUvQJZ_qjcolGXZjQhsUy-e4R3Dw14CScoV_5F_5tHCoHdZhN=w1200-h630-p-k-no-nu");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
